<section id="contact" class="py-24 px-10 text-center">

<h2 class="text-4xl font-bold text-center mb-14">
Contact <span class="text-[#a61e4d]">Me</span>
</h2>

<p class="text-gray-400 mb-10">
Feel free to reach out for collaborations, AI projects,
or Full Stack Development opportunities.
</p>

<div class="flex justify-center gap-5 flex-wrap">

<a
class="contact-btn"
href="mailto:odai.amgd96@gmail.com">

📧 Email Me

</a>

<a
class="contact-btn"
target="_blank"
href="https://www.linkedin.com/in/odai-ahmad-40b5b3305">

💼 LinkedIn

</a>

<a
class="contact-btn"
target="_blank"
href="https://github.com/OdaiAhm">

💻 GitHub

</a>

<a
class="contact-btn"
target="_blank"
href="https://wa.me/qr/VHAUY32QZ3S2F1">

💬 WhatsApp

</a>
</div>

<p class="mt-16 text-gray-500">

© 2026 Odai Ahmad | AI-Powered Full Stack Developer

</p>

</section>