<section id="about" class="py-24 px-10">

<h2 class="text-4xl font-bold text-center mb-14">
About <span class="text-[#a61e4d]">Me</span>
</h2>
 
  <div class="about-card max-w-4xl mx-auto">

    <p class="text-gray-300 text-lg leading-8">

      I am a Computer Science graduate and an AI-focused
      Full Stack .NET Developer specialized in building
      modern web applications using ASP.NET Core, Angular,
      SQL Server, and Artificial Intelligence technologies.

      <br><br>

      My passion is creating intelligent software solutions
      that combine web development, machine learning,
      cybersecurity, and secure system design.

    </p>

  </div>

</section>