<nav class="fixed top-0 left-0 w-full px-10 py-5
bg-black/40 backdrop-blur-xl flex justify-between items-center z-50">

<a href="#home"
class="text-3xl font-extrabold tracking-wide">

<span class="text-white">Odai</span>
<span class="text-[#a61e4d]"> Ahmad</span>

</a>

  <div class="hidden md:flex gap-8 text-gray-300">

    <a href="#about" class="hover:text-text-[#a61e4d]">
      About
    </a>

    <a href="#skills" class="hover:text-text-[#a61e4d]">
      Skills
    </a>

    <a href="#projects" class="hover:text-text-[#a61e4d]">
      Projects
    </a>

    <a href="#certificates" class="hover:text-text-[#a61e4d]">
      Certificates
    </a>

    <a href="#contact" class="hover:text-text-[#a61e4d]">
      Contact
    </a>

  </div>

</nav>