<section id="certificates" class="py-24 px-10">

<h2 class="text-4xl font-bold text-center mb-14">
My <span class="text-[#a61e4d]">Certifications</span>
</h2>

<div class="grid md:grid-cols-3 gap-8">

<!-- Introduction to Modern AI -->
<a
href="https://www.credly.com/badges/f11889c7-4f5f-4153-b9b9-07ac1187192d/public_url"
target="_blank"
class="certificate-card block">

<img
src="assets/introduction-to-modern-ai.png"
alt="Introduction to Modern AI"
class="mx-auto w-[140px] h-[140px] object-contain mb-5">

<h3>Introduction to Modern AI</h3>
<p>Cisco Networking Academy</p>
<span>Artificial Intelligence</span>

</a>


<!-- Apply AI -->
<a
href="https://www.credly.com/badges/274b466b-ebde-4ed6-b909-932b6e15b502/public_url"
target="_blank"
class="certificate-card block">

<img
src="assets/apply-ai-analyze-customer-reviews.png"
alt="Apply AI"
class="mx-auto w-[140px] h-[140px] object-contain mb-5">

<h3>Apply AI: Analyze Customer Reviews</h3>
<p>Cisco Networking Academy</p>
<span>AI • LLM Prompting</span>

</a>


<!-- Data Science -->
<a
href="https://www.credly.com/badges/cc84862c-2a9b-453a-883b-fb4abe9f2cea/public_url"
target="_blank"
class="certificate-card block">

<img
src="assets/data-science-essentials-with-python.png"
alt="Data Science Essentials"
class="mx-auto w-[140px] h-[140px] object-contain mb-5">

<h3>Data Science Essentials</h3>
<p>Cisco Networking Academy</p>
<span>Python • Data Analysis</span>

</a>


<!-- Python Essentials 1 -->
<a
href="https://www.credly.com/badges/2126daa2-27ed-4535-b084-cebbc7251cc6/public_url"
target="_blank"
class="certificate-card block">

<img
src="assets/python-essentials-1.1.png"
alt="Python Essentials 1"
class="mx-auto w-[140px] h-[140px] object-contain mb-5">

<h3>Python Essentials 1</h3>
<p>Cisco / Python Institute</p>
<span>Python Programming</span>

</a>


<!-- Python Essentials 2 -->
<a
href="https://www.credly.com/badges/e6c087d3-4c63-42a5-b021-40c9f7651727/public_url"
target="_blank"
class="certificate-card block">

<img
src="assets/python-essentials-2.png"
alt="Python Essentials 2"
class="mx-auto w-[140px] h-[140px] object-contain mb-5">

<h3>Python Essentials 2</h3>
<p>Cisco / Python Institute</p>
<span>OOP • Advanced Python</span>

</a>


<!-- Ethical Hacker -->
<a
href="https://www.credly.com/badges/469307d3-d944-40e6-a1d7-7218f805f6ba/public_url"
target="_blank"
class="certificate-card block">

<img
src="assets/ethical-hacker.png"
alt="Ethical Hacker"
class="mx-auto w-[140px] h-[140px] object-contain mb-5">

<h3>Ethical Hacker</h3>
<p>Cisco Networking Academy</p>
<span>Cybersecurity</span>

</a>
<!-- Apply AI: Update Your Resume -->
<a
href="https://www.credly.com/badges/08b19a29-85f6-40f2-869f-951e5b09a3b3/public_url"
target="_blank"
class="certificate-card block">

<img
src="assets/apply-ai-update-your-resume.png"
alt="Apply AI: Update Your Resume"
class="mx-auto w-[140px] h-[140px] object-contain mb-5">

<h3>Apply AI: Update Your Resume</h3>
<p>Cisco Networking Academy</p>
<span>AI • Resume Optimization</span>

</a>

</div>

</section>