<section id="skills" class="py-24 px-10">

<h2 class="text-5xl font-bold text-center mb-16">
  Technical <span class="text-[#8b1e3f]">Skills</span>
</h2>


<div class="grid md:grid-cols-4 gap-6">


<div class="skill-card">
<h3>Backend</h3>
<p>
C# • ASP.NET Core • MVC • REST API • Entity Framework
</p>
</div>


<div class="skill-card">
<h3>Frontend</h3>
<p>
Angular • TypeScript • JavaScript • Tailwind CSS
</p>
</div>


<div class="skill-card">
<h3>Artificial Intelligence</h3>
<p>
Python • Machine Learning • Data Science • LLMs
</p>
</div>


<div class="skill-card">
<h3>Database & Tools</h3>
<p>
SQL Server • Git • GitHub • Visual Studio
</p>
</div>


</div>

</section>